.navbar-brand {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav {
    flex-direction: row;

}

.nav-item a {
    color: white;
    display: inline-block;
    padding: 10px;
}

.nav-item a:hover {
    background-color: rgba(205, 205, 205, 0.5);
    text-decoration: none;
}